.btn{
  .btn-inner--icon{
    margin-right: 4px;
  }
}
.btn + .btn {
  margin-left: 4px;
}
.btn {
  bottom: 13px;
  right:25px;
}
.lien {
  margin-left: 5px;
}
.sign {
  color: black;
}
.btnCreate {
  position:absolute;
  bottom:50px;
  width: 80%;
  margin-left: 50px;

}
.btnStaff {
  bottom: 17px;

}
