button:focus, :focus {
  outline: none;
}
.img{
  width: 103px;

}
.imgPatient{
  width:100px;
}
.container-img{
  margin-right: 15px;
}
.container-imgPatient{
  margin-left: 30px;
}
.container-imgDocter {
  right: 50px;
}
.cardsize{
  height: 150px;
}

.dialog{
  max-width:100%;
}
.imgCons{
  margin-left: 100px;
  margin-top: 70px;
}
.imgdep {
  width :150px;
}
.btn-dep {
  position: absolute;
  top:80px;
  height:50px
}
.btn1{
  right:0;
  height: 40px;
  width: 100%
}
.radio {
  margin-top: 15px;
  right:15px;
}
.account {
  margin-right: 30px;
}
.index{margin-top:-30rem !important}
.list{margin-top:-10rem !important}
.cardContainer{
  padding: 15px;
}
.cardStyle1{
  margin-bottom: 30px;
}

.img{
  margin-left: 2px;
}
.paragraph {
  margin-left: -10px;
}
.btnnn{
  margin-bottom: 15px;
  margin-top: 15px;
}

